img {
  height: 200px;
}

#soccerball {
  height: 25px;
  width: 25px;
}

.buffer {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

body {
  background-color: #b0c3d5;
}

.navbar{
    position: relative !important;
    z-index: 2;
}


.carousel-inner > .item > img {
    margin: 0 auto;
}

#ronaldo_header {
  text-align: center;
}
